.q1{
    background-color: white;
}

.s1{
    background-color: white;
}

#d1{
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 22px;
}

#d2{
    color: rgb(196, 196, 196);
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 12px;
}

#d3{
    color: rgb(129, 129, 129);
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 12px;
}

#w1{
    margin-left: 100px;
    height: 200px;
}

#w2{
    margin-left: 170px;
    font-size: 21px;
    color: black;
    text-shadow: 2px 2px 5px white;
}

#w3{
    color: black;
    margin-left: 350px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#e1{
    margin-left: 100px;
    height: 200px;
    width: 200px;
}

#e2{
    color: black;
    text-shadow: 2px 2px 5px white;
    margin-left: 170px;
    font-size: 21px;
}

#e3{
    color: black;
    margin-left: 200px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#r1{
    margin-left: 850px;
    height: 200px;
    width: 200px;
}

#r2{
    color: black;
    text-shadow: 2px 2px 5px white;
    font-size: 21px;
    margin-left: 930px;
}

#r3{
    color: black;
    margin-left: 950px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#t1{
    margin-left: 850px;
    height: 200px;
    width: 200px;
}

#t2{
    color: black;
    text-shadow: 2px 2px 5px white;
    font-size: 21px;
    margin-left: 930px;
}

#t3{
    color: black;
    margin-left: 950px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#a1{
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 22px;
}

#a2{
    color: rgb(196, 196, 196);
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 12px;
}

#a3{
    color: rgb(129, 129, 129);
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 12px;
}

#d1{
    margin-left: 100px;
    height: 200px;
}

#d2{
    margin-left: 170px;
    font-size: 21px;
    color: black;
    text-shadow: 2px 2px 5px white;
}

#d3{
    color: black;
    margin-left: 350px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#f1{
    margin-left: 100px;
    height: 200px;
    width: 200px;
}

#f2{
    color: black;
    text-shadow: 2px 2px 5px white;
    margin-left: 170px;
    font-size: 21px;
}

#f3{
    color: black;
    margin-left: 200px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#g1{
    margin-left: 850px;
    height: 200px;
    width: 200px;
}

#g2{
    color: black;
    text-shadow: 2px 2px 5px white;
    font-size: 21px;
    margin-left: 930px;
}

#g3{
    color: black;
    margin-left: 950px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#h1{
    margin-left: 850px;
    height: 200px;
    width: 200px;
}

#h2{
    color: black;
    text-shadow: 2px 2px 5px white;
    font-size: 21px;
    margin-left: 930px;
}

#h3{
    color: black;
    margin-left: 950px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

.m1{
    background-color: white;
}

#z1{
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 22px;
}

#z2{
    color: rgb(196, 196, 196);
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 12px;
}

#z3{
    color: rgb(129, 129, 129);
    text-shadow: 2px 2px 5px black;
    margin-left: 100px;
    font-size: 12px;
}

#x1{
    margin-left: 100px;
    height: 200px;
}

#x2{
    margin-left: 170px;
    font-size: 21px;
    color: black;
    text-shadow: 2px 2px 5px white;
}

#x3{
    color: black;
    margin-left: 350px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#c1{
    margin-left: 100px;
    height: 200px;
    width: 200px;
}

#c2{
    color: black;
    text-shadow: 2px 2px 5px white;
    margin-left: 170px;
    font-size: 21px;
}

#c3{
    color: black;
    margin-left: 200px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#v1{
    margin-left: 850px;
    height: 200px;
    width: 200px;
}

#v2{
    color: black;
    text-shadow: 2px 2px 5px white;
    font-size: 21px;
    margin-left: 930px;
}

#v3{
    color: black;
    margin-left: 950px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}

#b1{
    margin-left: 850px;
    height: 200px;
    width: 200px;
}

#b2{
    color: black;
    text-shadow: 2px 2px 5px white;
    font-size: 21px;
    margin-left: 930px;
}

#b3{
    color: black;
    margin-left: 950px;
    font-size: 23px;
    text-shadow: 2px 2px 5px white;
}










.otzyvy{
    text-align: center;
}

#nuni{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.nuni{
    background-color: rgb(195, 192, 253);
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin-left: 200px;
    margin-top: 100px;
}

#nuni1{
    color: rgb(102, 102, 102);
}

#aldik{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.aldik{
    background-color: rgb(195, 192, 253);
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin-left: 800px;
}

#aldik1{
    color: rgb(102, 102, 102);
}